__VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=<your server hostname>
REFLEX_HOT_RELOAD_EXCLUDE_PATHS=./data

POSTGRES_DB=vue_ensemble_db
POSTGRES_DATA_DIR=./data/db/data
POSTGRES_PASSWORD=
POSTGRES_PORT=5440
POSTGRES_USER=vue_ensemble
POSTGRES_HOST=localhost

REDIS_HOST=localhost
REDIS_PORT=6379

LLM_API_KEY=
